@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700&family=Ubuntu:wght@400;500;700&      display=swap');
    *{
        box-sizing: border-box;
        text-decoration: none;
    }


        #block1{
            background-color: #00FFFF;          
            text-align: center;
            height: 200px;
            width: 500px;
            border: 1px solid black;
            
        }

        #block2{
        
            background-color: #DEB887;
            text-align: center;
            height: 200px;
            width: 500px;
            border: 1px solid black;
            padding: 50px;
    
        }
